<a href="https://colab.research.google.com/github/lasiadhi/Prediction-of-hypoxemia-trend/blob/master/Get_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#################################################
###### @author: Lasith Adhikari (python 3)  #####
############ Created on Dec 2, 2019 ############
# Code description: 
# Get basic statistics of feature variables startified by the outcome

In [0]:
import pandas as pd
import numpy as np
import os
from tableone import TableOne

pd.options.display.max_columns = 200
pd.options.display.max_rows = 200

In [0]:
FILENAME_X_train = "../Data/data_with_baseline_PF/X_train.csv"
FILENAME_X_test  = "../Data/data_with_baseline_PF/X_test.csv"
FILENAME_y_train = "../Data/data_with_baseline_PF/y_train.csv"
FILENAME_y_test  = "../Data/data_with_baseline_PF/y_test.csv"

X_train = pd.read_csv(FILENAME_X_train, index_col=0)
X_test = pd.read_csv(FILENAME_X_test, index_col=0)
y_train = pd.read_csv(FILENAME_y_train, index_col=0).iloc[:,0]
y_test = pd.read_csv(FILENAME_y_test, index_col=0).iloc[:,0]

# merge all
X_df = pd.concat([X_train, X_test])
y_df = pd.concat([y_train, y_test])
df_features = X_df.join(y_df)

In [0]:
columns = list(df_features.columns)
groupby = 'is_worse'
categorical = ['gender','ethnicity','unittype','unitstaytype','BMI_category','is_low_urine','vasopressor','min_t_gcs','max_t_gcs']
nonnormal = []

In [0]:
mytable = TableOne(df_features.reset_index(drop=True),columns, categorical, groupby, nonnormal, pval=True)

In [0]:
mytable

                                       Grouped by is_worse
                                                   Missing              0              1 P-Value               Test
n                                                                    7515           2153
gender                Female                             0    3337 (44.4)     884 (41.1)   0.006        Chi-squared
                      Male                                    4178 (55.6)    1269 (58.9)
age                                                    139    62.0 (15.5)    61.3 (15.8)   0.105  Two Sample T-test
ethnicity             African American                   0     990 (13.2)     253 (11.8)   0.537        Chi-squared
                      Asian                                     112 (1.5)       39 (1.8)
                      Caucasian                               5543 (73.8)    1609 (74.7)
                      Hispanic                                  351 (4.7)      100 (4.6)
                      Native American                            64 (0.9)       20 (0.9)
                      Other/Unknown                             455 (6.1)      132 (6.1)
unittype              CCU-CTICU                          0      613 (8.2)      186 (8.6)   0.015        Chi-squared
                      CSICU                                     263 (3.5)       89 (4.1)
                      CTICU                                     279 (3.7)       95 (4.4)
                      Cardiac ICU                               460 (6.1)      113 (5.2)
                      MICU                                     832 (11.1)     258 (12.0)
                      Med-Surg ICU                            4018 (53.5)    1070 (49.7)
                      Neuro ICU                                 546 (7.3)      169 (7.8)
                      SICU                                      504 (6.7)      173 (8.0)
unitstaytype          admit                              0    7247 (96.4)    2074 (96.3)   0.358        Chi-squared
                      readmit                                    23 (0.3)       11 (0.5)
                      transfer                                  245 (3.3)       68 (3.2)
BMI_category          Normal weight                      0    1964 (26.1)     551 (25.6)   0.172        Chi-squared
                      Obese                                   3140 (41.8)     860 (39.9)
                      Overweight                              1983 (26.4)     614 (28.5)
                      Underweight                               309 (4.1)      100 (4.6)
                      Unknown                                   119 (1.6)       28 (1.3)
min_t_heartrate                                       1830    84.1 (21.4)    84.0 (21.9)   0.840  Two Sample T-test
min_t_respiratoryrate                                 1962     16.0 (6.1)     15.8 (5.6)   0.482  Two Sample T-test
min_t_spo2                                            2596    90.7 (10.9)    91.7 (10.9)   0.002  Two Sample T-test
min_t_nibp_systolic                                   2270   101.0 (28.4)   101.4 (27.5)   0.582  Two Sample T-test
min_t_nibp_diastolic                                  2270    54.7 (17.8)    55.6 (17.8)   0.088  Two Sample T-test
min_t_nibp_mean                                       2999    69.8 (21.0)    70.6 (20.7)   0.189  Two Sample T-test
min_t_temperature                                     2305     36.4 (1.1)     36.4 (1.1)   0.471  Two Sample T-test
max_t_heartrate                                       1830   108.1 (25.4)   108.3 (26.2)   0.794  Two Sample T-test
max_t_respiratoryrate                                 1962    27.7 (10.0)     26.9 (9.7)   0.002  Two Sample T-test
max_t_spo2                                            2596     98.6 (3.5)     99.1 (3.4)  <0.001  Two Sample T-test
max_t_nibp_systolic                                   2270   145.7 (32.7)   145.1 (32.5)   0.490  Two Sample T-test
max_t_nibp_diastolic                                  2270    86.2 (24.2)    86.5 (24.7)   0.599  Two Sample T-test
max_t_nibp_mean                                       2999    99.2 (25.3)    99.6 (25.2)   0.563  Two Sample T-test
max_t_temperature                                     2305     37.1 (1.1)     37.0 (1.1)   0.129  Two Sample T-test
avg_t_heartrate                                       1830    94.8 (20.5)    94.8 (21.0)   0.960  Two Sample T-test
avg_t_respiratoryrate                                 1962     21.2 (6.0)     20.7 (5.8)   0.005  Two Sample T-test
avg_t_spo2                                            2596     96.2 (4.3)     96.9 (4.2)  <0.001  Two Sample T-test
avg_t_nibp_systolic                                   2270   122.3 (24.1)   122.4 (23.5)   0.917  Two Sample T-test
avg_t_nibp_diastolic                                  2270    68.4 (15.2)    69.0 (15.4)   0.226  Two Sample T-test
avg_t_nibp_mean                                       2999    83.0 (17.9)    83.7 (17.6)   0.250  Two Sample T-test
avg_t_temperature                                     2305     36.7 (1.0)     36.7 (1.0)   0.223  Two Sample T-test
min_t_BUN                                             2006    29.8 (23.6)    28.0 (21.9)   0.004  Two Sample T-test
min_t_calcium                                         2385      8.3 (1.1)      8.4 (1.1)   0.077  Two Sample T-test
min_t_creatinine                                      1992      1.8 (1.8)      1.7 (1.8)   0.516  Two Sample T-test
min_t_glucose                                         1241   145.6 (84.7)  149.2 (103.1)   0.167  Two Sample T-test
min_t_bicarbonate                                     2427     23.6 (6.7)     23.0 (7.0)   0.001  Two Sample T-test
min_t_hematocrit                                      1818     34.5 (8.4)     34.2 (8.7)   0.125  Two Sample T-test
min_t_hemoglobin                                      1802     11.3 (2.8)     11.2 (2.9)   0.302  Two Sample T-test
min_t_INR                                             4635      1.5 (0.9)      1.4 (0.8)   0.113  Two Sample T-test
min_t_platelets                                       1926  215.5 (111.4)  212.2 (111.8)   0.282  Two Sample T-test
min_t_potassium                                       1695      4.1 (0.8)      4.1 (0.8)   0.618  Two Sample T-test
min_t_sodium                                          1748    137.3 (6.2)    137.2 (5.9)   0.323  Two Sample T-test
min_t_wbc                                             2000     13.3 (7.7)     13.0 (7.2)   0.111  Two Sample T-test
min_t_PT                                              4816     16.8 (8.8)     16.4 (6.9)   0.100  Two Sample T-test
min_t_RBC                                             2005      3.9 (0.9)      3.8 (0.9)   0.075  Two Sample T-test
min_t_anion gap                                       3489     12.0 (5.5)     12.4 (6.1)   0.053  Two Sample T-test
min_t_chloride                                        1951    101.9 (7.6)    102.0 (7.3)   0.861  Two Sample T-test
max_t_BUN                                             2006    31.2 (24.8)    29.4 (23.1)   0.005  Two Sample T-test
max_t_calcium                                         2385      8.6 (0.9)      8.6 (1.0)   0.172  Two Sample T-test
max_t_creatinine                                      1992      1.9 (1.9)      1.8 (2.0)   0.512  Two Sample T-test
max_t_glucose                                         1241  191.7 (115.6)  197.4 (134.1)   0.097  Two Sample T-test
max_t_bicarbonate                                     2427     24.6 (6.4)     24.0 (6.7)   0.001  Two Sample T-test
max_t_hematocrit                                      1818     36.5 (7.7)     36.5 (7.8)   0.829  Two Sample T-test
max_t_hemoglobin                                      1802     11.9 (2.6)     11.9 (2.6)   0.901  Two Sample T-test
max_t_INR                                             4635      1.6 (1.1)      1.6 (1.1)   0.912  Two Sample T-test
max_t_platelets                                       1926  228.7 (113.3)  226.7 (110.5)   0.514  Two Sample T-test
max_t_potassium                                       1695      4.4 (0.9)      4.4 (0.9)   0.092  Two Sample T-test
max_t_sodium                                          1748    139.0 (6.1)    139.0 (5.7)   0.986  Two Sample T-test
max_t_wbc                                             2000     14.5 (8.2)     14.1 (7.8)   0.116  Two Sample T-test
max_t_PT                                              4816    17.8 (10.6)     17.7 (9.6)   0.725  Two Sample T-test
max_t_RBC                                             2005      4.0 (0.9)      4.0 (0.9)   0.126  Two Sample T-test
max_t_anion gap                                       3489     13.1 (5.9)     13.4 (6.6)   0.116  Two Sample T-test
max_t_chloride                                        1951    103.4 (7.7)    103.4 (7.4)   0.927  Two Sample T-test
avg_t_BUN                                             2006    30.5 (24.1)    28.7 (22.4)   0.004  Two Sample T-test
avg_t_calcium                                         2385      8.4 (0.9)      8.5 (1.0)   0.104  Two Sample T-test
avg_t_creatinine                                      1992      1.8 (1.9)      1.8 (1.9)   0.507  Two Sample T-test
avg_t_glucose                                         1241   166.6 (91.4)  171.4 (112.5)   0.092  Two Sample T-test
avg_t_bicarbonate                                     2427     24.1 (6.5)     23.5 (6.7)   0.001  Two Sample T-test
avg_t_hematocrit                                      1818     35.5 (7.8)     35.3 (7.9)   0.289  Two Sample T-test
avg_t_hemoglobin                                      1802     11.6 (2.6)     11.6 (2.7)   0.591  Two Sample T-test
avg_t_INR                                             4635      1.5 (0.9)      1.5 (0.9)   0.454  Two Sample T-test
avg_t_platelets                                       1926  222.0 (111.1)  219.3 (109.8)   0.377  Two Sample T-test
avg_t_potassium                                       1695      4.2 (0.8)      4.3 (0.8)   0.268  Two Sample T-test
avg_t_sodium                                          1748    138.2 (6.0)    138.1 (5.5)   0.592  Two Sample T-test
avg_t_wbc                                             2000     13.9 (7.8)     13.6 (7.4)   0.111  Two Sample T-test
avg_t_PT                                              4816     17.3 (9.4)     17.0 (7.9)   0.343  Two Sample T-test
avg_t_RBC                                             2005      3.9 (0.9)      3.9 (0.9)   0.085  Two Sample T-test
avg_t_anion gap                                       3489     12.5 (5.6)     12.9 (6.3)   0.076  Two Sample T-test
avg_t_chloride                                        1951    102.7 (7.5)    102.7 (7.1)   0.944  Two Sample T-test
is_low_urine          0.0                                0    1020 (13.6)     252 (11.7)   0.065        Chi-squared
                      1.0                                     2145 (28.5)     614 (28.5)
                      unknown                                 4350 (57.9)    1287 (59.8)
vasopressor           0.0                                0    6920 (92.1)    2021 (93.9)   0.006        Chi-squared
                      1.0                                       595 (7.9)      132 (6.1)
min_t_gcs             10.0                               0      331 (4.4)       82 (3.8)   0.242        Chi-squared
                      11.0                                      248 (3.3)       72 (3.3)
                      12.0                                      107 (1.4)       34 (1.6)
                      13.0                                      150 (2.0)       51 (2.4)
                      14.0                                      292 (3.9)       76 (3.5)
                      15.0                                      721 (9.6)      203 (9.4)
                      3.0                                      837 (11.1)     266 (12.4)
                      4.0                                        79 (1.1)       26 (1.2)
                      5.0                                        69 (0.9)       20 (0.9)
                      6.0                                       323 (4.3)       90 (4.2)
                      7.0                                       401 (5.3)      105 (4.9)
                      8.0                                       341 (4.5)       80 (3.7)
                      9.0                                       290 (3.9)       59 (2.7)
                      unknown                                 3326 (44.3)     989 (45.9)
max_t_gcs             10.0                               0      304 (4.0)       73 (3.4)   0.012        Chi-squared
                      11.0                                      264 (3.5)       57 (2.6)
                      12.0                                      113 (1.5)       30 (1.4)
                      13.0                                      186 (2.5)       59 (2.7)
                      14.0                                      383 (5.1)       80 (3.7)
                      15.0                                    1453 (19.3)     423 (19.6)
                      3.0                                       411 (5.5)      147 (6.8)
                      4.0                                        50 (0.7)       20 (0.9)
                      5.0                                        60 (0.8)       24 (1.1)
                      6.0                                       247 (3.3)       70 (3.3)
                      7.0                                       283 (3.8)       78 (3.6)
                      8.0                                       237 (3.2)       50 (2.3)
                      9.0                                       198 (2.6)       53 (2.5)
                      unknown                                 3326 (44.3)     989 (45.9)
baseline_PF                                              0  211.2 (120.2)  314.8 (115.6)  <0.001  Two Sample T-test
[1] Warning, Hartigan's Dip Test reports possible multimodal distributions for: age, avg_t_BUN, avg_t_INR, avg_t_anion gap, avg_t_bicarbonate, avg_t_calcium, avg_t_chloride, avg_t_creatinine, avg_t_hemoglobin, avg_t_potassium, avg_t_respiratoryrate, avg_t_sodium, avg_t_spo2, avg_t_temperature, baseline_PF, max_t_BUN, max_t_INR, max_t_anion gap, max_t_bicarbonate, max_t_calcium, max_t_chloride, max_t_creatinine, max_t_heartrate, max_t_hematocrit, max_t_hemoglobin, max_t_nibp_diastolic, max_t_nibp_mean, max_t_nibp_systolic, max_t_potassium, max_t_respiratoryrate, max_t_sodium, max_t_spo2, max_t_temperature, min_t_BUN, min_t_INR, min_t_PT, min_t_anion gap, min_t_bicarbonate, min_t_calcium, min_t_chloride, min_t_creatinine, min_t_glucose, min_t_heartrate, min_t_hemoglobin, min_t_nibp_diastolic, min_t_nibp_mean, min_t_nibp_systolic, min_t_potassium, min_t_respiratoryrate, min_t_sodium, min_t_spo2, min_t_temperature.
[2] Warning, Tukey test indicates far outliers in: avg_t_BUN, avg_t_INR, avg_t_PT, avg_t_anion gap, avg_t_bicarbonate, avg_t_calcium, avg_t_chloride, avg_t_creatinine, avg_t_glucose, avg_t_nibp_diastolic, avg_t_nibp_mean, avg_t_platelets, avg_t_potassium, avg_t_respiratoryrate, avg_t_sodium, avg_t_spo2, avg_t_temperature, avg_t_wbc, baseline_PF, max_t_BUN, max_t_INR, max_t_PT, max_t_anion gap, max_t_bicarbonate, max_t_calcium, max_t_chloride, max_t_creatinine, max_t_glucose, max_t_nibp_diastolic, max_t_nibp_mean, max_t_platelets, max_t_potassium, max_t_sodium, max_t_spo2, max_t_temperature, max_t_wbc, min_t_BUN, min_t_INR, min_t_PT, min_t_anion gap, min_t_bicarbonate, min_t_calcium, min_t_chloride, min_t_creatinine, min_t_glucose, min_t_nibp_diastolic, min_t_nibp_mean, min_t_platelets, min_t_potassium, min_t_respiratoryrate, min_t_sodium, min_t_spo2, min_t_temperature, min_t_wbc.
[3] Warning, test for normality reports non-normal distributions for: age, avg_t_BUN, avg_t_INR, avg_t_PT, avg_t_RBC, avg_t_anion gap, avg_t_bicarbonate, avg_t_calcium, avg_t_chloride, avg_t_creatinine, avg_t_glucose, avg_t_heartrate, avg_t_hematocrit, avg_t_hemoglobin, avg_t_nibp_diastolic, avg_t_nibp_mean, avg_t_nibp_systolic, avg_t_platelets, avg_t_potassium, avg_t_respiratoryrate, avg_t_sodium, avg_t_spo2, avg_t_temperature, avg_t_wbc, baseline_PF, max_t_BUN, max_t_INR, max_t_PT, max_t_RBC, max_t_anion gap, max_t_bicarbonate, max_t_calcium, max_t_chloride, max_t_creatinine, max_t_glucose, max_t_heartrate, max_t_hematocrit, max_t_hemoglobin, max_t_nibp_diastolic, max_t_nibp_mean, max_t_nibp_systolic, max_t_platelets, max_t_potassium, max_t_respiratoryrate, max_t_sodium, max_t_spo2, max_t_temperature, max_t_wbc, min_t_BUN, min_t_INR, min_t_PT, min_t_anion gap, min_t_bicarbonate, min_t_calcium, min_t_chloride, min_t_creatinine, min_t_glucose, min_t_heartrate, min_t_hematocrit, min_t_hemoglobin, min_t_nibp_diastolic, min_t_nibp_mean, min_t_nibp_systolic, min_t_platelets, min_t_potassium, min_t_respiratoryrate, min_t_sodium, min_t_spo2, min_t_temperature, min_t_wbc.

In [0]:
#mytable.to_excel('desc_stats_with_baseline.xlsx')